<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
 <!-- <link rel="stylesheet" href="../static/style.css">-->
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h2>Belly Button Bio Diversity <br>Dashboard</h2>
    </div>
</div>

<script type="text/javascript" src="../static/plots.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Select Sample</h3>
            <select id="selDataset" onchange="getData(this.value)">
               
            </select>
       <br>
       <br>
            <h4>Sample Metadata</h4>
        
          <div id="table">
        
          </div>
        </div>
        <div class="col-md-5">
        <h3>    Pie Chart      </h3>
        <div id="pie"></div>        
        </div>
        <div class="col-md-3">
         <h3> Wash Frequency  </h3>
         <div id="gauge"></div>  
        </div>
    </div>
    <div class ="row">
      <div class="col-md-12">
    
        <div id="scatter">

        </div>
       </div>
    </div>
</div>


</body>

</html>